
$--app-primary-color: #409EFF !default;
$--border-color-lighter: #EBEEF5 !default;
$--app-info-color: #F5F7FA !default;
$--app-base-font-size: 12px !default;
$--app-notice-color: #B2B2B2 !default;
$--app-white-font-color: #ffffff !default;
